.button {
  background-color: #81b3d2;
  padding: 16px 49px;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5697bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e6e6e6;
  }

  &:focus {
    background-color: #5697bd;
    color: rgba(0, 0, 0, 0.3);
    outline: none;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 136px;
  }
}
