.checkbox {
  @media (min-width: $tablet-width) {
    margin: 0 83px;
    column-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 44px 0 31px 44px;
    column-gap: 17px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.checkbox__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding: 10px 10px 13px 62px;
  display: block;
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 10px 0 10px 62px;
  }
}

.checkbox__input {
  position: absolute;
  appearance: none;
}

.checkbox__input:focus ~ .checkbox__name::before {
  outline: 3px solid rgb(0, 0, 0);
  border: 0;
}

.checkbox__label {
  cursor: pointer;
}

.checkbox__label:hover .checkbox__name::before {
  background-color: #e5e5e5;
}

.checkbox__label:active .checkbox__name::before {
  background-color: #d5d5d5;
}

.checkbox__label:active .checkbox__name::after {
  background-color: rgba(51, 51, 51, 0.3);
}


.checkbox__label--brige {
  @media (min-width: $desktop-width) {
    min-width: 172px;
  }
}

.checkbox__label--mountain {
  @media (min-width: $desktop-width) {
    min-width: 170px;
  }
}

.checkbox__label-park {
  @media (min-width: $desktop-width) {
    min-width: 153px;
  }
}

.checkbox__label--redrocks {
  @media (min-width: $desktop-width) {
    min-width: 184px;
  }
}

.checkbox__name::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.checkbox__input:checked ~ .checkbox__name::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 16px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/checkbox/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__item {
  margin-bottom: 14px;
}

.checkbox__item:nth-child(4n) {
  @media (min-width: $desktop-width) {
    margin-left: -14px;
  }
}
