.hero {
  text-align: center;
  margin: 0 auto;
}

.hero__text--inner-page {
  padding: 37px 20px 18px 20px;
  border-bottom: 1px solid rgb(229, 229, 229);

  @media (min-width: $tablet-width) {
    padding: 28px 165px 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 384px 0;
  }
}

.hero__text.hero__text--form-page {
  padding: 38px 18px 16px;

  border-bottom: 1px solid rgb(229, 229, 229);

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 28px 165px 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 382px 54px;
  }
}

.hero__text-img {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.hero__text-img--inner-page {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }
}

.hero__intro {
  background-image: url("../img/index/hero/triangle-mobile.svg"), url("../img/index/hero/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-size: contain, cover;
  background-color: #799eb4;
  padding-top: 90px;
  padding-bottom: 79px;


  @media (min-width: $tablet-width) {
    background-image: url("../img/index/hero/triangle-tablet.svg"), url("../img/index/hero/back-tablet.jpg");
    padding-top: 78px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/index/hero/triangle-desktop.svg"), url("../img/index/hero/back-desktop.jpg");
  }
}


.hero__intro--inner-page {
  background-image: url("../img/index/hero/triangle-mobile.svg"), url("../img/catolog/hero/back-mobile.jpg");
  padding-top: 54px;
  padding-bottom: 59px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/index/hero/triangle-tablet.svg"), url("../img/catolog/hero/back-tablet.jpg");
    padding-bottom: 111px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/index/hero/triangle-desktop.svg"), url("../img/catolog/hero/back-desktop.jpg");
    padding-top: 99px;
    padding-bottom: 116px;
  }
}

.hero__title {
  text-transform: uppercase;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 0 32px 0;
  }
}

.hero__text {
  padding: 34px 29px 2px;

  @media (min-width: $tablet-width) {
    padding: 49px 132px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 356px 27px;
  }
}

.hero__title--inner-page {
  text-transform: uppercase;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin: 0 0 32px 0;
  }
}

.hero__title.hero__title--form-page {
  text-transform: uppercase;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px 0;
  }
}

.hero__description.hero__description--form-page {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 9px;
  }
}

.hero .hero__intro--inner-page {
  margin-top: 0;
  margin-bottom: -1px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 38px;
  }
}

.hero__description--inner-page {
  margin-bottom: 19px;
}
