.page-footer__wrapper {
  padding: 33px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page-footer__visit-sedona {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  grid-column-gap: 6px;
}

.page-footer__developed-link {
  color: $black;
  text-decoration: none;
  position: relative;
  padding: 7px 40px 7px 0;
}

.page-footer__developed-link::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../img/footer/html.svg");
  height: 35px;
  width: 28px;
  top: 0;
  right: 0;
}


.page-footer__social-item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 179, 210);
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

}
