.page-footer__wrapper {
  padding: 26px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 119px 33px;
  }
}

.page-footer__visit-sedona {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  grid-column-gap: 6px;
  margin-bottom: 7px;
  margin-top: 1px;
}

.page-footer__developed-link {
  color: $black;
  text-decoration: none;
  position: relative;
  padding: 7px 40px 7px 0;

  &:hover {
    color: #81b3d2;
    fill: #81b3d2;
  }
}

.page-footer__developed-link::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../img/footer/html.svg");
  height: 35px;
  width: 28px;
  top: 0;
  right: 0;
  margin-top: -4px;

  &:hover {
    background-color: #81b3d2;
    fill: #81b3d2;
  }
}


.page-footer__social-item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 179, 210);
}
