.popup-error__title,
.popup-success__title {
  font-weight: 700;
  color: #000000;

  @media (max-width: $mobile-width-only) {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 30px 35px 10px;
    margin: 0;
  }
}

.popup-error__description,
.popup-success__description {
  font-size: 18px;
  line-height: 26px;
  color: #333333;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 33px;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }
}

.popup-error__wrapper {
  background-color: #ffffff;
  padding: 28px 41px 35px;


  @media (max-width: $mobile-width-only) {
    margin-top: 117px;
    min-height: 280px;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 41px 35px;
    max-width: 400px;
    margin: 283px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 244px auto;
  }
}

.popup-success__wrapper {
  @media (max-width: $mobile-width-only) {
    margin-top: 402px;
    min-height: 280px;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 41px 35px;
    max-width: 722px;
    margin: 144px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 126px auto;
  }
}

.page__popup-container {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.popup-error {
  display: none;
}

.popup-success {
  display: none;
}

.popup-error__button {
  margin-top: 13px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: 0;
  padding: 15px 78px 15px 78px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 18px 122px 14px 122px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 14px;
  }
}

.popup-success__button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: 0;
  padding: 16px;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.popup-success__wrapper-text {
  padding: 20px 45px 38px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 14px 110px 18px;
  }
}

.popup-success__wrapper-button {
  background-color: #f2f2f2;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}
