.radio {
  @media (min-width: $tablet-width) {
    margin: 0 36px;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 46px 11px 35px 53px;
    column-gap: 28px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.radio__input {
  position: absolute;
  appearance: none;
  outline: 0;
}

.radio__input:focus ~ .radio__name::before {
  outline: 3px solid rgb(0, 0, 0);
  border: 0;
}

.radio__label:hover .radio__name::before {
  background-color: #e5e5e5;
}

.radio__label:active .radio__name::before {
  background-color: #d5d5d5;
}

.radio__input[type="radio"]:checked:active + .radio__name::after {
  background-color: #3333334d;
}

.radio__label {
  cursor: pointer;
}

.radio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding: 10px 10px 13px 62px;
  display: block;
  position: relative;
}

.radio__item {
  margin-left: 3px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

.radio__name::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: -2px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.radio__input:checked ~ .radio__name::after {
  position: absolute;
  content: "";
  left: 13px;
  top: 13px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}
