.video {
  text-align: center;
}

.video__descriprion {
  padding: 12px 27px 23px;

  @media (min-width: $tablet-width) {
    padding: 3px 162px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 370px 32px;
  }
}

.video__title {
  color: $black;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 77px;
  }
}

.video__wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/catolog/video/play.svg");
  width: 48px;
  height: 54px;
  top: 48%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}
